body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  letter-spacing: 0.06rem;
  line-height: 1.5;
  font-size: 15px;
  color: #666; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  line-height: 1;
  font-weight: 400;
  color: #444; }
  p + h1, p + h2, p + h3, p + h4 {
    padding-top: 20px; }

h1 {
  font-size: 32px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 34px; } }

h2 {
  font-size: 25px; }
  @media (min-width: 768px) {
    h2 {
      font-size: 26px; } }

h3 {
  font-size: 20px; }
  @media (min-width: 768px) {
    h3 {
      font-size: 22px; } }

h4 {
  font-size: 17px; }
  @media (min-width: 768px) {
    h4 {
      font-size: 16px; } }

p {
  margin: 0; }
  p b {
    font-weight: 600;
    color: #444; }
  p + p {
    padding-top: 20px; }

.btn {
  cursor: default;
  padding: 8px 30px;
  position: relative;
  border-radius: 21px;
  font-weight: 400; }
  .btn:hover, .btn:focus {
    -webkit-box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3); }
  .btn:active {
    -webkit-box-shadow: inset 0 3px 10px -4px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 3px 10px -4px rgba(0, 0, 0, 0.2); }
  p + .btn {
    margin-top: 20px; }
  .btn.btn-default {
    background: white;
    border: 1px solid #eaeaea;
    font-weight: bold;
    color: #144A99;
    -webkit-transition: border 0.1s, -webkit-box-shadow 0.1s;
    transition: border 0.1s, -webkit-box-shadow 0.1s;
    transition: border 0.1s, box-shadow 0.1s;
    transition: border 0.1s, box-shadow 0.1s, -webkit-box-shadow 0.1s; }
    .btn.btn-default:hover, .btn.btn-default:focus {
      border: 1px solid #cacaca; }
    .btn.btn-default:active {
      background: white; }
  .btn.btn-primary {
    background: #144A99;
    border: 1px solid #144A99;
    color: white;
    -webkit-transition: background 0.1s, -webkit-box-shadow 0.1s;
    transition: background 0.1s, -webkit-box-shadow 0.1s;
    transition: background 0.1s, box-shadow 0.1s;
    transition: background 0.1s, box-shadow 0.1s, -webkit-box-shadow 0.1s; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background: #1a60c6;
      -webkit-box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.5);
              box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.5); }
    .btn.btn-primary:active {
      -webkit-box-shadow: inset 0 3px 10px -4px rgba(0, 0, 0, 0.7);
              box-shadow: inset 0 3px 10px -4px rgba(0, 0, 0, 0.7); }
  .btn.btn-danger {
    background: #cd4444;
    border: 1px solid #cd4444;
    color: white;
    -webkit-transition: background 0.1s, -webkit-box-shadow 0.1s;
    transition: background 0.1s, -webkit-box-shadow 0.1s;
    transition: background 0.1s, box-shadow 0.1s;
    transition: background 0.1s, box-shadow 0.1s, -webkit-box-shadow 0.1s; }
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background: #d86c6c;
      -webkit-box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.5);
              box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.5); }
    .btn.btn-danger:active {
      -webkit-box-shadow: inset 0 3px 10px -4px rgba(0, 0, 0, 0.7);
              box-shadow: inset 0 3px 10px -4px rgba(0, 0, 0, 0.7); }
  .btn.btn-success {
    background: #57bf84;
    border: 1px solid #57bf84;
    color: white;
    -webkit-transition: background 0.1s, -webkit-box-shadow 0.1s;
    transition: background 0.1s, -webkit-box-shadow 0.1s;
    transition: background 0.1s, box-shadow 0.1s;
    transition: background 0.1s, box-shadow 0.1s, -webkit-box-shadow 0.1s; }
    .btn.btn-success:hover, .btn.btn-success:focus {
      background: #7ccd9f;
      -webkit-box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.5);
              box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.5); }
    .btn.btn-success:active {
      -webkit-box-shadow: inset 0 3px 10px -4px rgba(0, 0, 0, 0.7);
              box-shadow: inset 0 3px 10px -4px rgba(0, 0, 0, 0.7); }

#header {
  background: #333;
  position: relative;
  padding: 20px 0; }
  @media (min-width: 992px) {
    #header {
      padding: 60px 0; } }
  #header.header-home {
    background-image: url("/img/bg-home_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; }
  #header.header-about {
    background-image: url("/img/bg-home_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #header.header-bo {
    background-image: url("/img/bg-opportunities.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #header.header-support {
    background-image: url("/img/bg-opportunities.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #header.header-contact {
    background-image: url("/img/bg-opportunities.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  #header:before {
    content: '';
    position: fixed;
    background: #144A99;
    width: 100%;
    height: 6px;
    top: 0;
    left: 0;
    z-index: 300; }
  #header #slogan {
    text-transform: uppercase;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 15px;
    z-index: 1; }
    @media (min-width: 992px) {
      #header #slogan {
        padding: 160px 15px; } }
    @media (min-width: 1200px) {
      #header #slogan {
        padding: 200px 15px; } }
    #header #slogan, #header #slogan h1 {
      color: #fff; }
    #header #slogan h1 {
      line-height: 1.2; }
      @media (min-width: 992px) {
        #header #slogan h1 {
          font-size: 50px; } }
  #header .logo-container #logo_main {
    max-height: 125px; }
  #header .nav-container {
    position: relative;
    z-index: 500; }
    #header .nav-container a, #header .nav-container .a {
      color: white;
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: bold; }
    #header .nav-container .link-container a {
      padding: 15px 5px;
      text-decoration: none !important; }
      #header .nav-container .link-container a:last-child {
        padding-right: 0; }
    #header .nav-container .link-container .a {
      padding: 15px;
      display: inline-block; }
      #header .nav-container .link-container .a .fa {
        margin-right: 4px; }
    #header .nav-container .link-container .fa {
      font-size: 20px;
      position: relative;
      top: 2px; }
    #header .nav-container .nav {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      margin-top: 10px;
      padding-top: 5px; }
      #header .nav-container .nav li {
        display: inline-block; }
        #header .nav-container .nav li a {
          margin: 15px;
          padding: 0;
          border-bottom: 1px solid transparent;
          border-radius: 0;
          position: relative;
          opacity: 0.7;
          -webkit-transition: opacity 0.1s ease;
          transition: opacity 0.1s ease;
          text-transform: uppercase; }
          #header .nav-container .nav li a:before {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            top: -20px;
            background: none;
            border-top: 5px solid transparent;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            margin-left: -7px;
            left: 50%;
            -webkit-transition: border-top 0.2s;
            transition: border-top 0.2s;
            outline: none; }
          #header .nav-container .nav li a:hover, #header .nav-container .nav li a:focus {
            color: white;
            background: none;
            opacity: 1;
            outline: none; }
        #header .nav-container .nav li:first-child a {
          margin-left: 0; }
        #header .nav-container .nav li:last-child a {
          margin-right: 0; }
        #header .nav-container .nav li.active a {
          color: white;
          background: none;
          opacity: 1; }
          #header .nav-container .nav li.active a:before {
            border-top: 10px solid white; }

#logo_mobile {
  height: 60px;
  margin-left: 15px; }

.burger {
  font-size: 24px;
  text-align: center;
  color: white !important;
  padding-top: 20px;
  padding-right: 20px; }
  .burger a {
    position: relative;
    left: 1px;
    top: 2px;
    color: white !important; }

.nav-container-mobile {
  color: white;
  margin: 0 15px 20px 15px;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .nav-container-mobile a, .nav-container-mobile .a {
    color: white;
    padding-bottom: 15px;
    font-weight: bold; }
  .nav-container-mobile a {
    padding-left: 15px;
    float: right; }
  .nav-container-mobile .a {
    padding-left: 0;
    float: none; }
  .nav-container-mobile .fa {
    font-size: 24px;
    position: relative;
    top: 2px; }

#footer {
  background: #333;
  background-image: url("/img/bg-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 0;
  overflow: hidden;
  z-index: 200;
  position: relative; }
  #footer #footercontent .footer-links {
    line-height: 24px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center; }
    @media (min-width: 992px) {
      #footer #footercontent .footer-links {
        text-align: left; } }
    #footer #footercontent .footer-links a {
      color: white; }
    #footer #footercontent .footer-links .fa {
      line-height: 2.3;
      font-size: 1.5em;
      text-decoration: none !important; }
  #footer #footercontent .logo {
    max-height: 115px;
    opacity: 0.5;
    margin: 40px auto 0 auto; }
    @media (min-width: 992px) {
      #footer #footercontent .logo {
        margin: 0; } }
  #footer #bottombar {
    padding: 20px 0;
    font-size: 12px;
    background: #222;
    margin-top: 40px; }
    @media (min-width: 992px) {
      #footer #bottombar {
        margin-top: 80px; } }

#home_oppertunities {
  background-image: url("/img/bg-opportunities.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  color: white;
  position: relative;
  padding-bottom: 60px; }
  @media (min-width: 992px) {
    #home_oppertunities {
      margin-bottom: 100px;
      padding-bottom: 100px; } }
  #home_oppertunities:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 0px;
    background: none;
    border-top: 30px solid white;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    margin-left: -30px;
    left: 50%; }
  #home_oppertunities h2 {
    color: white; }
  #home_oppertunities #boxes {
    margin-top: 60px; }
    @media (min-width: 992px) {
      #home_oppertunities #boxes {
        margin-top: 0;
        margin-bottom: -160px; } }
    #home_oppertunities #boxes .box {
      border-radius: 1px;
      z-index: 200;
      top: 80px;
      padding: 40px 30px;
      text-align: center;
      margin-bottom: 40px; }
      @media (min-width: 992px) {
        #home_oppertunities #boxes .box {
          position: relative; } }
      #home_oppertunities #boxes .box h2 {
        text-transform: uppercase;
        line-height: 1.3;
        padding-bottom: 0; }
      #home_oppertunities #boxes .box hr {
        max-width: 50%;
        border-top: 1px solid rgba(255, 255, 255, 0.3); }
      #home_oppertunities #boxes .box p {
        padding-bottom: 0; }
      #home_oppertunities #boxes .box.one {
        background: #195bbd; }
      #home_oppertunities #boxes .box.two {
        background: #144A99; }
      #home_oppertunities #boxes .box.three {
        background: #0f3975; }

#about_story {
  background: #f7f7f7;
  padding-bottom: 160px;
  margin-bottom: -120px; }

#bo_opportunities {
  background: #f7f7f7;
  position: relative; }
  #bo_opportunities:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 0;
    background: none;
    border-top: 30px solid #fff;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    margin-left: -30px;
    left: 50%; }
  #bo_opportunities .bo-item {
    text-align: center;
    padding: 20px; }
    #bo_opportunities .bo-item img {
      padding: 10px; }
    #bo_opportunities .bo-item h3 {
      text-transform: uppercase;
      margin-top: 20px; }

#bo_why {
  background: #f7f7f7; }
  #bo_why .bo-list {
    padding-left: 20px; }
    #bo_why .bo-list li {
      padding: 10px 0; }

#support_intro {
  background: #fff;
  position: relative; }
  #support_intro:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    bottom: -30px;
    background: none;
    border-top: 30px solid #fff;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    margin-left: -30px;
    left: 50%; }

#support_items {
  background: #f7f7f7;
  padding-top: 40px; }
  #support_items .support-item {
    margin: 20px;
    margin-bottom: 0;
    padding: 40px 0; }
    @media (min-width: 992px) {
      #support_items .support-item {
        padding: 40px; } }
    #support_items .support-item h1.circle-icon {
      margin: auto auto 20px auto;
      background: currentColor;
      width: 80px;
      height: 80px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-radius: 50%;
      padding: 20px; }
      #support_items .support-item h1.circle-icon .fa {
        margin: auto;
        display: block;
        font-size: 30px;
        color: white; }
    #support_items .support-item h3 {
      color: #144A99; }

.form-control {
  border-radius: 0;
  border: 1px solid #eaeaea;
  background: #fafafa;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 1.4; }
  .form-control:focus {
    border: 1px solid #eaeaea;
    border-bottom: 1px solid #144A99;
    -webkit-box-shadow: 0 0px 12px -4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0px 12px -4px rgba(0, 0, 0, 0.2); }
  .form-control.error {
    border-color: #cd4444; }

input.form-control {
  height: 50px; }

textarea.form-control {
  padding-top: 15px;
  padding-bottom: 15px; }

.form-group {
  margin-bottom: 30px;
  position: relative; }

label.error {
  color: white;
  background: #cd4444;
  padding: 4px 8px;
  z-index: -1;
  font-size: 11px;
  position: absolute;
  right: 0; }

body {
  position: relative; }

.img-center {
  margin-left: auto;
  margin-right: auto; }

section {
  padding: 80px 0; }
  @media (min-width: 992px) {
    section {
      padding: 100px 0; } }

ul.unstyled {
  list-style: none;
  padding-left: 0; }

.noverflow {
  overflow-y: hidden; }

.container {
  max-width: 1000px; }

h2.heading {
  color: #144A99;
  text-transform: uppercase;
  line-height: 1.3;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0; }

hr.line {
  max-width: 100%;
  width: 200px;
  border-top: 1px solid rgba(128, 128, 128, 0.3);
  margin-top: 20px;
  margin-bottom: 20px; }

p.paragraph {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto; }

p + .btn-group, p + .btn-block {
  padding-top: 20px; }

/*# sourceMappingURL=site.css.map */