
#bo_intro {

}

#bo_opportunities {
	background: #f7f7f7;
	position: relative;

	&:before {
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		top: 0;
		background: none;
		border-top: sp(1.5) solid #fff;
		border-right: sp(1.5) solid transparent;
		border-left: sp(1.5) solid transparent;
		margin-left: sp(-1.5);
		left: 50%;
	}
	.bo-item {
		text-align: center;
		padding: sp(1);
		img {
			padding: sp(0.5)
		}
		h3 {
			text-transform: uppercase;
			margin-top: sp(1);
		}
	}
}

#bo_why {
	background: #f7f7f7;
	.bo-list {
		padding-left: 20px;
		li {
			padding: 10px 0;
		}
	}
}