
.form-control {
	border-radius: 0;
	border: 1px solid #eaeaea;
	background: #fafafa;
	outline: none;
	box-shadow: none;
	line-height: 1.4;
	&:focus {
		border: 1px solid #eaeaea;
		border-bottom: 1px solid $c-primary_blue;
		box-shadow: 0 0px 12px -4px rgba(0,0,0,0.2);
	}
	&.error {
		border-color: $c-danger;
	}
}
input.form-control {
	height: 50px;
}
textarea.form-control {
	padding-top: 15px;
	padding-bottom: 15px;
}

.form-group {
	margin-bottom: sp(1.5);
	position: relative;
}

label.error {
	color: white;
	background: $c-danger;
	padding: 4px 8px;
	z-index: -1;
	font-size: 11px;
	position: absolute;
	right: 0;	
}