

.btn {
	cursor: default;
	padding: sp(2/5) sp(1.5);
	position: relative;
	border-radius: 21px;
	font-weight: 400;
	&:hover, &:focus {
		box-shadow: 0 3px 10px -4px rgba(0,0,0,0.3);
	}
	&:active {
		box-shadow: inset 0 3px 10px -4px rgba(0,0,0,0.2);
	}
	p + & {
		margin-top: sp(1);
	}
	&.btn-default {
		background: white;
		border: 1px solid #eaeaea;
		font-weight: bold;
		color: $c-primary_blue;
		transition: border $speed, box-shadow $speed;
		&:hover, &:focus {
			border: 1px solid #cacaca;
		}
		&:active {
			background: white;
		}
	}
	&.btn-primary {
		background: $c-primary_blue;
		border: 1px solid $c-primary_blue;
		color: white;
		transition: background $speed, box-shadow $speed;
		&:hover, &:focus {
			background: lighten($c-primary_blue, 10%);
			box-shadow: 0 3px 10px -4px rgba(0,0,0,0.5);
		}
		&:active {
			box-shadow: inset 0 3px 10px -4px rgba(0,0,0,0.7);
		}
	}
	&.btn-danger {
		background: $c-danger;
		border: 1px solid $c-danger;
		color: white;
		transition: background $speed, box-shadow $speed;
		&:hover, &:focus {
			background: lighten($c-danger, 10%);
			box-shadow: 0 3px 10px -4px rgba(0,0,0,0.5);
		}
		&:active {
			box-shadow: inset 0 3px 10px -4px rgba(0,0,0,0.7);
		}
	}
	&.btn-success {
		background: $c-success;
		border: 1px solid $c-success;
		color: white;
		transition: background $speed, box-shadow $speed;
		&:hover, &:focus {
			background: lighten($c-success, 10%);
			box-shadow: 0 3px 10px -4px rgba(0,0,0,0.5);
		}
		&:active {
			box-shadow: inset 0 3px 10px -4px rgba(0,0,0,0.7);
		}
	}
}