$c-primary_blue: #144A99;
$c-primary_grey: #727072;
$c-primary_silver: #D1D9DB;
$c-primary_orange: #BE7C4D;
$c-danger: #cd4444;
$c-success: #57bf84;

$s-sp: 20px;

$speed: 0.1s;

@function sp ($size) {
	@return $size * $s-sp;
}

@mixin lg {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin md {
	@media (min-width: 992px) {
		@content;
	}
}
@mixin sm {
	@media (min-width: 768px) {
		@content;
	}
}