
#footer {
	background: #333;
	background-image: url('/img/bg-footer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 0;
	overflow: hidden;
	z-index: 200;
	position: relative;
	#footercontent {
		.footer-links	{
			line-height: sp(1.2);
			color: white;
			text-transform: uppercase;
			font-size: 14px;
			text-align: center;
			@include md {
				text-align: left;
			}
			a {
				color: white;
			}
			.fa {
				line-height: 2.3;
				font-size: 1.5em;
				text-decoration: none !important;
			}
		}
		.logo {
			max-height: 115px;
			opacity: 0.5;
			margin: sp(2) auto 0 auto;
			@include md {
				margin: 0;
			}
		}
	}
	#bottombar {
		padding: sp(1) 0;
		font-size: 12px;
		background: #222;
		margin-top: sp(2);
		@include md {
			margin-top: sp(4);			
		}
	}
}
