
$pattern_url: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJCAYAAAAPU20uAAAAJklEQVQoU2NkgID/DAwMjFA2CoVVEFkFLgVwE8k2AW4LzISBdCQAnQQECms+BaMAAAAASUVORK5CYII=';

#header {
	background: #333;
	position: relative;
	padding: sp(1) 0;
	@include md {
		padding: sp(3) 0;
	}

	&.header-home {
		background-image: url('/img/bg-home_header.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
	}
	&.header-about {
		background-image: url('/img/bg-home_header.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	&.header-bo {
		background-image: url('/img/bg-opportunities.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	&.header-support {
		background-image: url('/img/bg-opportunities.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	&.header-contact {
		background-image: url('/img/bg-opportunities.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	
	&:before {
		content: '';
		position: fixed;
		background: $c-primary_blue;
		width: 100%;
		height: 6px;
		top: 0;
		left: 0;
		z-index: 300;
	}
	#slogan {
		text-transform: uppercase;
		text-align: center;
		max-width: 600px;
		margin: 0 auto;
		padding: sp(3) 15px;
		z-index: 1;
		@include md {
			padding: sp(8) 15px;
		}
		@include lg {
			padding: sp(10) 15px;
		}
		&, & h1 {
			color: #fff;
		}
		h1 {
			line-height: 1.2;
			@include md {
				font-size: 50px;
			}
		}
	}

	.logo-container	{
		#logo_main {
			max-height: 125px;
		}
	}
	.nav-container {
		position: relative;
		z-index: 500;
		a, .a {
			color: white;
			padding-top: 15px;
			padding-bottom: 15px;
			font-weight: bold;
		}
		.link-container {
			a {
				padding: 15px 5px;
				text-decoration: none !important;
				&:last-child {
					padding-right: 0;
				}
			}
			.a {
				padding: 15px;
				display: inline-block;
				.fa {
					margin-right: 4px;
				}
			}
			.fa {
				font-size: 20px;
				position: relative; 
				top: 2px;
			}
		}
		.nav {
			border-top: 1px solid rgba(255,255,255,0.3);
			margin-top: 10px;
			padding-top: 5px;
			li {
				display: inline-block;
				a {
					margin: 15px;
					padding: 0;
					border-bottom: 1px solid transparent;
					border-radius: 0;
					position: relative;
					opacity: 0.7;
					transition: opacity $speed ease;
					text-transform: uppercase;
					&:before {
						position: absolute;
						content: '';
						width: 0;
						height: 0;
						top: -20px;
						background: none;
						border-top: 5px solid transparent;
						border-right: 7px solid transparent;
						border-left: 7px solid transparent;
						margin-left: -7px;
						left: 50%;
						transition: border-top $speed*2;
						outline: none;
					}
					&:hover, &:focus {
						color: white;
						background: none;
						opacity: 1;
						outline: none;
					}
				}
				&:first-child {
					a {
						margin-left: 0
					}
				}
				&:last-child {
					a {
						margin-right: 0
					}
				}
				&.active a {
					color: white;
					background: none;
					opacity: 1;
					&:before {
						border-top: 10px solid white;
					}
				}
			}
		}
	}
}

#logo_mobile {
	height: 60px;
	margin-left: sp(0.75)
}
.burger {
	font-size: 24px;
	text-align: center;
	color: white !important;
	padding-top: sp(1);
	padding-right: sp(1);
	a {
		position: relative;
		left: 1px;
		top: 2px;
		color: white !important;
	}
}
.nav-container-mobile {
	color: white;
	margin: 0 sp(0.75) sp(1) sp(0.75);
	padding: sp(0.5) 0 sp(1) 0;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	a, .a {
		color: white;
		padding-bottom: 15px;
		font-weight: bold;
	}
	a {
		padding-left: sp(0.75);
		float: right;
	}
	.a {
		padding-left: 0;
		float: none;
	}
	.fa {
		font-size: 24px;
		position: relative; 
		top: 2px;
	}
}
