
#home_oppertunities {
	background-image: url('/img/bg-opportunities.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	color: white;
	position: relative;
	padding-bottom: sp(3);
	@include md {
		margin-bottom: sp(5);
		padding-bottom: sp(5);
	}
	&:before {
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		top: 0px;
		background: none;
		border-top: sp(1.5) solid white;
		border-right: sp(1.5) solid transparent;
		border-left: sp(1.5) solid transparent;
		margin-left: sp(-1.5);
		left: 50%;
	}
	h2 {
		color: white;
	}
	#boxes {
		margin-top: sp(3);
		@include md {
			margin-top: 0;
			margin-bottom: sp(-8);
		}
		.box {
			border-radius: 1px;
			z-index: 200;
			top: sp(4);
			padding: sp(2) sp(1.5);
			text-align: center;
			margin-bottom: sp(2);
			@include md {
				position: relative;
			}
			h2 {
				text-transform: uppercase;
				line-height: 1.3;
				padding-bottom: 0;
			}
			hr {
				max-width: 50%;
				border-top: 1px solid rgba(255,255,255,0.3);
			}
			p {
				padding-bottom: 0;
			}
			&.one {
				background: lighten($c-primary_blue, 8%);
			}
			&.two {
				background: $c-primary_blue;
			}
			&.three {
				background: darken($c-primary_blue, 8%);
			}
		}
	}
}