
#support_intro {
	background: #fff;
	position: relative;
	&:after {
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		bottom: sp(-1.5);
		background: none;
		border-top: sp(1.5) solid #fff;
		border-right: sp(1.5) solid transparent;
		border-left: sp(1.5) solid transparent;
		margin-left: sp(-1.5);
		left: 50%;
	}
}
#support_items {
	background: #f7f7f7;
	padding-top: sp(2);
	.support-item {
		margin: sp(1);
		margin-bottom: 0;
		padding: sp(2) 0;
		@include md {
			padding: sp(2);
		}

		h1.circle-icon {
			margin: auto auto 20px auto;
			background: currentColor;
			width: 80px;
			height: 80px;
			display: flex;
			border-radius: 50%;
			padding: 20px;
			.fa {
				margin: auto;
				display: block;
				font-size: 30px;
				color: white;
			}
		}
		h3 {
			color: $c-primary_blue;
		}
	}
}
