
body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	letter-spacing: 0.06rem;
	line-height: 1.5;
	font-size: 15px;
	color: #666;
}
h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	padding-bottom: sp(1/2);
	line-height: 1;
	font-weight: 400;
	color: #444;
	p + & {
		padding-top: sp(1);
	}
}
h1 {
	font-size: 32px;
	@include sm {
		font-size: 34px;
	}
}
h2 {
	font-size: 25px;
	@include sm {
		font-size: 26px;
	}
}
h3 {
	font-size: 20px;
	@include sm {
		font-size: 22px;
	}
}
h4 {
	font-size: 17px;
	@include sm {
		font-size: 16px;
	}
}
p {
	margin: 0;
	b {
		font-weight: 600;
		color: #444;
	}
	& + p {
		padding-top: sp(1);
	}
}