@import 'config';
@import 'typography';
@import 'controls';
@import 'header';
@import 'footer';
@import 'home';
@import 'about-us';
@import 'business-opportunities';
@import 'our-support';
@import 'contact-us';

body {
	position: relative;
}

.img-center {
	margin-left: auto;
	margin-right: auto;
}

section {
	padding: sp(4) 0;
	@include md {
		padding: sp(5) 0;
	}
}

ul.unstyled {
	list-style: none;
	padding-left: 0;
}

.noverflow {
	overflow-y: hidden;
}

.container {
	max-width: 1000px;
}

h2.heading {
	color: $c-primary_blue;
	text-transform: uppercase;
	line-height: 1.3;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0;
}

hr.line {
	max-width: 100%;
	width: 200px;
	border-top: 1px solid rgba(128,128,128,0.3);
	margin-top: sp(1);
	margin-bottom: sp(1);
}

p.paragraph {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

.btn-group, .btn-block {
	p + & {
		padding-top: sp(1);
	}
}

